/Course.class
/CourseDetails.class
/CourseMinutia.class
/CourseTime.class
/Day.class
/Quad.class
/Semester.class
/Tag.class
/ClassDetails.class
/ClassTime.class
/ClassType.class
/Lab.class
/Section.class
/Subject.class
